*{
    box-sizing: border-box;
    font-family: 'helvetica', 'sans-serif';
}

body{
    margin:0;
    padding:0;
    background-color: #fefaf5;
}

nav{
    position: sticky;
    top:0;

    display: flex;
    justify-content: center;
    padding:2rem 0;
    
    background-color: #fefaf5;
}

h1{
    position:absolute;
    opacity: 0;
    margin:0;
}

h2{
    font-size:clamp(1.5rem, 3vw, 2rem);
    margin:0;
    width:(25ch, 10vw, 75ch);
}

h3{
    font-size:clamp(.8rem, 1.5vw, 1rem);
    line-height: 140%;
    font-weight: 200;
    width:clamp(25ch, 50vw, 75ch);

    margin:0;
    margin-top:1rem;
}

.container{
    display: flex;
    justify-content: center;

    /* max-width: 1000px; */
    max-height: 70vh;
    /* margin:0 auto; */
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height:80vh;
    max-height: 100vh;
    max-width: 1000px;
    margin:0 auto;
    padding: 0 4rem;
}

.grid{
    position: relative;

    display:grid;
    place-items: center;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.logo{
    object-fit: cover;
    width:clamp(8rem,25vw,10rem);
}

.image-container{
    width: 100%;
    height: 100%;
}

.shampoo{
    justify-self:flex-end;
    /* height:clamp(0.01%, 1vw, 0.02%); */
    position: relative;
    z-index: -1;
    height:clamp(300px,40vw,650px);
    /* width:100%; */
    object-fit: contain;
    margin-right:2rem;
    /* filter:drop-shadow(.5rem 1rem 1rem #BBB2A6); */
}

footer{
    display: flex;
    justify-content: center;
    padding:2rem 0;
}

footer p{
    font-size:clamp(.4rem, 10vw, .8rem);
    text-align: center;
    opacity: 30%;
}

@media only screen and (max-width: 600px) {
    .flex{
        display: flex;
        flex-direction: column;
        padding: 0 3rem;
    }

    .shampoo{
        justify-self:flex-end;
        position: relative;
        z-index: -1;
        height:clamp(300px,70vw,650px);
        object-fit: contain;
        margin-bottom:2rem;
        margin-right:0rem;
    }

    .text-overlay{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h2{
        width:(10ch, 1vw, 75ch);
    }

    h3{
        width:clamp(25ch, 70vw, 75ch);
    }
}

@media only screen and (max-width: 375px) {
    footer p{
        font-size:clamp(.4rem, 10vw, .8rem);
        max-width:17ch;
        opacity: 30%;

    }

    .flex{
        padding: 0 2rem;
    }
}